:root {
  --COLOR_DEFAULT: #32BEA6;
  --COLOR_BACKGROUND: #FCF8F3;
  --COLOR_BACKGROUND_BLACK: #ada192;
  --COLOR_BACKGROUND_GREY: #e6f7f8;
  --COLOR_FONT_BLACK: #0e3845;
  --COLOR_FONT_LIGHT: #248775;
  --COLOR_ACTIVE: #0c967f;
  --BUTTON_ACTIVE: #c26b07;
  --COLOR_ORANGE: #FF5300;
  --COLOR_RED_DEFAULT: #c62d15;
  --COLOR_GREEN_DEFAULT: #04aa20;
}