:root {
  --BUTTON_OPACITY_DISABLE: 1;
  --HEADLIGHT_OPACITY: 0;
  --BUTTON_EVENT_DISABLE: auto;
  --COLOR_DEFAULT: #d8d8d8;
  --COLOR_DEFAULT_HOVER: #0c967f;
  --COLOR_GREEN_DEFAULT: #04aa20;
  --COLOR_BACKGROUND: #FCF8F3;
  --COLOR_BACKGROUND_BLACK: #ada192;
  --COLOR_BACKGROUND_GREY: #d7d2cd;
  --COLOR_FONT_BLACK: #0e3845;
  --COLOR_FONT_BROWM: #4C1E00;
  --COLOR_FONT_LIGHT: #248775;
  --COLOR_ACTIVE: #0c967f;
  --BUTTON_ACTIVE: #c26b07;
  --COLOR_ORANGE: #FF5300;
  --COLOR_RED_DEFAULT: #c62d15;
  --COLOR_GREEN_DEFAULT: #04aa20;
}