.garage-container {
    width: 98vw;
    height: 560px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: url(../../assets/img/strGarage.png);
    border: 3px solid var(--COLOR_BACKGROUND_BLACK);
}