.car {
  height: 50px;
  position: relative;
}

.car-ico {
  width: 100%;
}

.car-headlight {
  opacity: 0;
  left: 0px;
  top: 0;
  width: 116px;
  height: 50px;
  position: absolute;
  background-size: cover;
  z-index: 1;
  background-image: url(../../../assets/img/headlight.png);
}