.racing-track {
  height: 75px;
  width: 100%;
  display: grid;
  grid-template-columns: 120px 150px 1fr 115px;
  position: relative;
  margin-bottom: 20px;
}

.racing-track__control {
  background-image: url(./../../assets/img/centerTrack.png);
  display: flex;
  align-items: end;
  justify-content: space-between;
  padding-left: 5px;
  padding-bottom: 12px;
}

.car-track {
  width: 101px;
  position: absolute;
}

.racing-track__animation {
  height: 100%;
  width: calc(100vw - 125px);
  left: 125px;
  position: absolute;
  display: flex;
  align-items: center;
}

.racing-track__start {
  background-image: url(./../../assets/img/startTrack.png);
}

.racing-track__central {
  background-image: url(./../../assets/img/centerTrack.png);
}

.racing-track__finish {
  background-image: url(./../../assets/img/finishTrack.png);
}





/* control block */


/* end control */