.header-wraper {
  background-image: url(../../assets/img/strGarage.png);
  height: 50px;
  display: flex;
  flex-wrap: wrap;
  width: 97vw;
  align-items: center;
  justify-content: space-between;
  padding: 0 1%;
  border-radius: 10px;
  border: 2px solid var(--COLOR_BACKGROUND_BLACK);
}

.header-wraper__logo {
  height: 45px;
  width: 367px;
}

.header-logo__img {
  width: 100%;
}

.header-button_control {
  display: flex;
  padding: 0 5px;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  cursor: pointer;
  width: 130px;
  height: 35px;
  background: var(--COLOR_DEFAULT);
  transition: .4s;
}

.header-control__img {
  width: 40px;
  height: 40px;
}

.header-button_control:hover {
  background: var(--COLOR_DEFAULT_HOVER);
}

.header-control__text {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
  color: var(--COLOR_FONT_BROWM);
}

.header-wraper__buttons {
  display: flex;
  gap: 15px;
}

.header-button_control_active {
  background: var(--BUTTON_ACTIVE);
}

@media (max-width: 700px) {
  .header-wraper {
    height: 110px;
    justify-content: center;
    gap: 10px;
    flex-direction: column-reverse;
  }
}