.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  height: 100%;
  justify-content: space-between;
  background: var(--COLOR_DEFAULT);
}

.main-page {
  position: relative;
}

.button-state {
  opacity: var(--BUTTON_OPACITY_DISABLE);
  pointer-events: var(--BUTTON_EVENT_DISABLE);
}